# Files and directories created by pub
.dart_tool/
.packages
build/

# Conventional directory for build outputs
build/

# Omit generated pub lock files for these example packages
pubspec.lock

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
